/autom4te.cache/
/autoscan.log
/config.h
/config.h.in~
/config.log
/config.status
/configure.scan
/configure
/.deps/
/csmanager
/csmanager.plist/
/csmanager.t2t
/csmanager.md
/Makefile
/stamp-h1
/test*
/Test*
/nooptim.sh
